.catalog-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin: 10px 10px;
    
}

.catalog-search-dark{
    margin: 20px auto;
    width: 500px;
    color: #9c27b0;
    
}

.catalog-search-light{
    margin: 20px auto;
    width: 500px;
    color: #000;
    background-color: #fff;
}

.catalog-search-dark::placeholder{
    color: #9c27b0;
}

.catalog-search-light::placeholder{
    color: #000;
}

.catalog-h2-dark{
    color: #fff;
}

.catalog-h2-light{
    color: #000;
}